/* my styles */

.selected {
	background-color: #efefef;
	width:120px;
}

.detail {
	width: 300px;
	margin: 30px;
	border-top: 1px solid #efefef;
}

.angular-formly-container {
	background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  top: 20px;
  -webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}