.angular-animate-filter-container{
	margin: 50px;overflow: hidden;
}
.angular-animate-filter-li {
	list-style: none;
	position: relative;
	display: block;
	-webkit-transition: 0.5s linear all;
	transition: 0.5s liner all;
}

/*.angular-animate-filter-li.ng-enter,
.angular-animate-filter-li.ng-leave,
.angular-animate-filter-li.ng-move {
	-webkit-transition: 0.5s linear all;
	transition: 0.5s liner all;
}*/

.angular-animate-filter-li.ng-enter {
  left:500px;
  opacity:0;
}
.angular-animate-filter-li.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.angular-animate-filter-li.ng-leave {
  left:0;
  opacity:1;
}
.angular-animate-filter-li.ng-leave.ng-leave-active {
  left:500px;
  opacity:0;
}

/*.angular-animate-filter-li.ng-move {
  opacity:0.5;
}
.angular-animate-filter-li.ng-move.ng-move-active {
  opacity:1;
}*/

