<h1>Emit</h1>
<div ng-controller="EmitParentCtrl as vm" style="border:2px solid #E75D5C; padding:5px;">
	<h2>Parent Controller</h2>
	<p>Emit Message : {{vm.message}}</p>
	<div ng-controller="EmitChild1Ctrl as vm" style="border:2px solid #428bca;padding:5px;margin:5px 0;">
		<h3>Child Controller - 1</h3>
		<input ng-model="vm.msg">
		<button ng-click="vm.handleClick(vm.msg);">Emit</button>
	</div>
	<div ng-controller="EmitChild2Ctrl as vm" style="border:2px solid #428bca;padding:5px;margin:5px 0;">
		<h3>Child Controller - 2</h3>
		<input ng-model="vm.msg">
		<button ng-click="vm.handleClick(vm.msg);">Emit</button>
	</div>
</div>
<div>
	<div>Files used</div>
	<ul>
		<li>emit/emit.controller.js</li>
		<li>emit/emit.html</li>
	</ul>
</div>
<div style="margin-top:20px; border: 1px solid;">
	<div>Explanation</div>
	<ul>
		<li>Used to emit event from child controller to parent controller.</li>
		<li>Can emit your event only when you have parent-child relation and event propagation is initiated by child.</li>
		<li>Ref: http://www.dotnet-tricks.com/Tutorial/angularjs/HM0L291214-Understanding-$emit,-$broadcast-and-$on-in-AngularJS.html/li>
	</ul>
</div>