/* Common */
.css3-animations {
	width: 100px;
	height: 100px;
	background: red;
}

/* End common */

/* The animation code */
@keyframes css3-animation-1 {
	from {width: 100px;} /* removing from will also work */
	to {width: 300px;}
}

/* The element to apply the animation to */
#css3-animation-1 {
	animation-name: css3-animation-1;
	animation-duration: 4s;
}